@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


/* 居中，宽度小一点、padding小一点 */
.Vue-Toastification__container.custom-toast-container{
  width: 100% !important;
  padding: 0 !important;
  top: 70px !important;

}


.Vue-Toastification__toast.custom-toast {
  width: auto !important;
  max-width: 80% !important;
  min-width: 100px !important;
  margin: 0 auto !important;
  padding: 8px 16px !important;
  border-radius: 10px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-height: 40px !important;
}


@media only screen and (min-width: 600px) {
  .Vue-Toastification__container.top-center,
  .Vue-Toastification__container.bottom-center {
    left: 0 !important;
    right: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
  }

}