# Virtual environment
.venv/

# Configurations and sensitive data
config
downloads
mysql
redis
logs

# Environment variables
.env
.env.dev

# IDE and Editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store

# Compiled files and temporary files
*.pyc
*.pyo
*.mo
*.so
*.dylib
.pycache/

# Test related
*.test
coverage/
.tox/
.dist/
.build/
htmlcov/
nosetests.xml
coverage.xml

# Docker and CI/CD artifacts
docker-compose.override.yml
.Dockerfile*
.kubernetes/
build/
target/
dist/
*.egg-info/

# Other common ignores
*.log
*.bak
*.tmp
*.zip
*.tar.gz
*.rar
*.7z
Thumbs.db
