[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.111.0"
beautifulsoup4 = "==4.12.3"
jinja2 = "==3.1.4"
pathvalidate = "==3.2.0"
pipdeptree = "==2.23.0"
psycopg2-binary = "*"
python-dotenv = "==1.0.1"
redis = "==5.0.5"
requests = "~=2.31.0"
uvicorn = "==0.30.1"
cryptography = "*"
sqlalchemy = "*"
pycookiecloud = "*"
sse-starlette = "*"
alembic = "*"
phub = "*"
cloudscraper = "*"
feedparser = "*"
yt-dlp = "*"
pydantic-settings = "*"
bcrypt = "*"
python-jose = {extras = ["cryptography"], version = "*"}
email-validator = "*"
sqlalchemy-to-pydantic= "0.0.8"
pytubefix = "*"
botasaurus = "*"
js2py = "*"
python-redis-lock = "*"
bilibili-api-python = "*"
httpx = {extras = ["http2"], version = "==0.27.0"}
undetected-chromedriver = "*"
selenium = "*"
squirrel-sdk = {file = "../squirrel-sdk", editable = true}

[dev-packages]
pytest = "*"
